@charset "utf-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	box-sizing: border-box;
	font-family: 'Laila', sans-serif;
	
}
body{
	background-color:#eceff1;
}

/* RESPONSIVE 9600 PİKSEL AYARLARI */


@media screen and (min-width : 980px)
{
/* ANA DIV */

.maindiv{
	width: 80%;
	height: auto;
	margin: 0px auto;
		
}


/* HEAD DIV */


.headdiv{
	width: auto;
	height: 100px;
	margin: 0px auto;
	background-image: linear-gradient(to right, #52c234 0%, #061700  51%, #52c234  100%);
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    display: block;
}
.headdiv:hover{
	background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}


/*HEAD DIVIN BAŞLIK YAZISI*/


.headdiv h1{
	font-size: 30px;
	font-weight: bold;
	float: right;
	margin: 25px 25px 0px 0px;
	text-transform: uppercase;
	
}


/*HEAD DIVIN LOGOSU*/

.logo{
	margin:5px 0px 0px 20px;
}

#alert-div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: auto;
    z-index:10;
}

#alert-div img {
    height: 300px;
}

.alert{
    display: block;
    background: #97ad3c;
    height: 50px;
    line-height: 50px;
    float: left;
    width: auto;
    height:100%;
    padding: 5px 10px;
}

.alert .closebtn{
    cursor:pointer;
    font-size:18px;
    margin-right:20px;
    background:#090;
    padding:2px;
    color:#fff;
    border-radius:50%;
    width:30px;
    height:30px;
    display:inline-block;
    text-align:center;
    line-height:30px;
}


/* MENU DIV */


.menudiv{
	height: 50px;
	width: auto;
	background-image: radial-gradient( circle farthest-corner at 5.6% 54.5%,  rgba(47,71,79,1) 0%, rgba(159,188,198,1) 83.6% );
	padding: 0px;
}


/* MENU AYARLAMALARI */

.menudiv ul{
	list-style: none;
	padding-left: 0;
}
.menudiv ul li{
	display: inline-block;
	width: auto;
	height: auto;
	text-transform: uppercase;
	float:right;
	line-height: 50px;
	text-align: center;
	margin-left: 30px;
    margin-right: 17px;
}
.menudiv ul li a{
	text-decoration: none;
	color: white;
}
.menudiv ul li a:hover{
	color:#e74c3c;
}
.menudiv ul li a::before{
	content: "{";
	margin-right: -5px;
	opacity: 0;
	transition: all 0.5s;
}
.menudiv ul li a::after{
	content: "}";
	margin-left: -5px;
	opacity: 0;
	transition: all 0.5s;
}
.menudiv ul li a:hover:before{
	opacity: 1;
	margin-right: 10px;
}
.menudiv ul li a:hover:after{
	opacity: 1;
	margin-left: 10px;
}
.resimdiv{
	height:560px;
	width: 40%;
	
}
	.interactivesdiv{
		height: 560px;
		width: 60%;
		float: right;
		
	}

	.interactive1 {
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
		height: 270px;
		width: 48%;
		float: left;
		margin-left: 10px;
		
	}

	.interactive2 {
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
		height: 270px;
		width: 48%;
		float: right;
		margin-right: 10px;
		
	}

	.interactive3 {
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
		height: 270px;
		width: 48%;
		float: left;
		margin-left: 10px;
		margin-top: 20px;
		
	}
	.interactive4 {
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
		height: 270px;
		width: 48%;
		float: right;
		margin-right: 10px;
		margin-top: 20px;
		
	}
	.footerdiv{
	height: 100px;
	width: 100%;
	background-image: radial-gradient( circle farthest-corner at 5.6% 54.5%,  rgba(47,71,79,1) 0%, rgba(159,188,198,1) 83.6% );
	margin-top: 0px;
}
	.footerdiv h3{
	font-size: 20px;
	font-weight: bolder;
	float:left;
	margin: 40px 0px 0px 600px;
	text-transform: uppercase;
	font-family: sans-serif;
	color: white;
}
.footerdiv h5{
	font-size: 15px;
	font-weight: 500px;
	float:right;
	margin:18px 10px 0px 500px;
	font-family: sans-serif;
}

/*Here starts the additional code*/

/* The switch - the box around the slider */
.t_switch{
	display: inline-block;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*putting some margin on top of the h3*/
h3 {
    margin-top: 20px;
}
}



/* RESPONSIVE 989 */


@media screen and (max-width : 979px)
{
	.maindiv{
	width: 80%;
	height: auto;
	margin: 0px auto;
	background-color: red;	
}


/* HEAD DIV */


.headdiv{
	width: auto;
	height: 100px;
	margin: 0px auto;
	background-image: linear-gradient(to right, #52c234 0%, #061700  51%, #52c234  100%);
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    display: block;
}
.headdiv:hover{
	background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}


/*HEAD DIVIN BAŞLIK YAZISI*/


.headdiv h1{
	font-size: 10px;
	font-weight: bold;
	float: right;
	margin: 25px 25px 0px 0px;
	text-transform: uppercase;
	
}


/*HEAD DIVIN LOGOSU*/

.logo{
	margin:5px 0px 0px 20px;
}


/* MENU DIV */


.menudiv{
	height: 50px;
	width: auto;
	background-image: radial-gradient( circle farthest-corner at 5.6% 54.5%,  rgba(47,71,79,1) 0%, rgba(159,188,198,1) 83.6% );
	padding: 0px;
}


/* MENU AYARLAMALARI */

.menudiv ul{
	list-style: none;
	padding-left: 0;
}
.menudiv ul li{
	display: inline-block;
	width: 150px;
	height: auto;
	text-transform: uppercase;
	float:right;
	line-height: 50px;
	text-align: center;
}
.menudiv ul li a{
	text-decoration: none;
	color: white;
}
.menudiv ul li a:hover{
	color:#e74c3c;
}
.menudiv ul li a::before{
	content: "{";
	margin-right: -5px;
	opacity: 0;
	transition: all 0.5s;
}
.menudiv ul li a::after{
	content: "}";
	margin-left: -5px;
	opacity: 0;
	transition: all 0.5s;
}
.menudiv ul li a:hover:before{
	opacity: 1;
	margin-right: 10px;
}
.menudiv ul li a:hover:after{
	opacity: 1;
	margin-left: 10px;
}
}